<section class="attachments {{ with .Get "style"}}{{.}}{{ end }}">
	<label>
		<i class="fa fa-paperclip" aria-hidden="true"></i>
		{{with .Get "title"}}{{.}}{{else}}{{T "Attachments-label"}}{{end}}
	</label>
	{{if eq .Page.File.BaseFileName "index"}}
		{{$.Scratch.Add "filesName" "files"}}
	{{else}}
		{{$.Scratch.Add "filesName" (printf "%s.files" .Page.File.BaseFileName)}}
	{{end}}
	<div class="attachments-files">
	{{ range (readDir (printf "./content/%s%s" .Page.File.Dir ($.Scratch.Get "filesName")) ) }}
		{{ $fileDir := replace $.Page.File.Dir "\\" "/" }}
		{{if ($.Get "pattern")}}
			{{if (findRE ($.Get "pattern") .Name)}}
				<li>
					{{.Name}} <a class="viewLink" href="{{ printf "%s/%s%s/%s" $.Site.BaseURL $fileDir ($.Scratch.Get "filesName") .Name }}" ><i class="fa fa-eye" aria-hidden="true"></i>View</a> <a class="downloadLink" href="{{ printf "%s/%s%s/%s" $.Site.BaseURL $fileDir ($.Scratch.Get "filesName") .Name }}" download><i class="fa fa-download" aria-hidden="true"></i>Download</a>
					({{div .Size 1024 }} Kb)
				</li>
			{{end}}
		{{else}}
			<li>
				{{.Name}} <a class="viewLink" href="{{ printf "%s/%s%s/%s" $.Site.BaseURL $fileDir ($.Scratch.Get "filesName") .Name }}" ><i class="fa fa-eye" aria-hidden="true"></i>View</a> <a class="downloadLink" href="{{ printf "%s/%s%s/%s" $.Site.BaseURL $fileDir ($.Scratch.Get "filesName") .Name }}" ><i class="fa fa-download" aria-hidden="true"></i>Download</a>
				({{div .Size 1024 }} Kb)
			</li>
		{{end}}
	{{end}}
	<div>
	{{.Inner}}
</section>
<style>
a.viewLink{
	color: #8451A1;
}
a.downloadLink{
	color: #139948;
}
</style>

