<style type="text/css">
.ghContributors
{
display:flex;
flex-flow:  wrap;
align-content: flex-start
}
.ghContributors > div
{
width: 50% ;
display: inline-flex;
}
.ghContributors > div label
{
padding-left: 4px ;
}
.ghContributors > div span{
padding-left: 4px ;
}
.ghContributors img.imgStyle{
vertical-align:middle;
margin-bottom:.25em;
}
/* SMALL THUMBNAILS */
.ghContributors > div
  {
  margin-bottom: 5px;
  }
  .ghContributors > div span
  {
  font-size: x-small;
  }
  .ghContributors img.imgStyle
  {
  height: 32px;
  }

/* BIG THUMBNAILS */
/*.ghContributors
  {
  align-items: top;
  justify-content: center;	
  }
  .ghContributors > div
  {
  margin-bottom: 0px;
  vertical-align: text-top;
  }
  .ghContributors > div label
  {
  margin-bottom:-10px;
  }
  .ghContributors > div span
  {
  font-size: 1em;
  }
  .ghContributors div.blockStyle
  {
  display:block;
  width:200px;
  }
  .ghContributors img.imgStyle
  {
  height: 200px;
  margin: 0 auto;
  }
  .ghContributors label a.labelStyle
  {
  word-wrap: break-word;
  max-width: 190px;
  }*/

</style>

<div class="ghContributors">
  {{ $url := .Get 0 }}
  {{ range getJSON $url }}
    <div class="blockStyle">
    <img src="{{.avatar_url}}" class="imgStyle inline SmallerThumbnail" width="32" height="32">
    <!-- <img src="{{.avatar_url}}" class="inline imgStyle BiggerThumbnail" width="200" height="200"> -->
    <label><a href="{{.html_url}}" class="labelStyle">@{{.login}}</a></label>
    <span class="contributions">{{.contributions}} commits</span>
  </div>
  {{ end }}
</div>